{
  "module": {
      "type": "commonjs"
    },
  "jsc": {
      "parser": {
          "syntax": "typescript",
          "decorators": true,
          "dynamicImport": true
        },
      "baseUrl": "packages",
      "paths": {
          "@api/nestjs/*": [
              "./api/nestjs/src/*"
          ],
          "@auth/*": [
            "./auth/src/*"
          ],
          "@common/*": [
            "./@common/src/*"
          ]
      },
      "keepClassNames": true,
      "transform": {
          "legacyDecorator": true,
          "decoratorMetadata": true
        }
  },
  "exclude": [ "dist/**/*" ],
  "minify": false
}