{

  "sourceMaps": true,
  "module": {
      "type": "commonjs"
    },
  "jsc": {
      "parser": {
          "syntax": "typescript",
          "decorators": true,
          "dynamicImport": true
        },
      "baseUrl": "src",
      "paths": {
        "@/*": [
          "*"
        ]
      },
      "keepClassNames": true,
      "transform": {
          "legacyDecorator": true,
          "decoratorMetadata": true
        }
  },
  "minify": false
}